#technologies {
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

#technologies > h1 {
    font-weight: 600;
    font-size: 100px;
    line-height: 118px;
    text-align: center;
    text-transform: uppercase;
    padding: 120px 10% 50px;
}

.technologiesBlock {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 80%;
}

.technologiesBlock > h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    width: 20%;
    padding-top: 50px;
}

.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.technology > img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

@media (max-width: 1500px) {
    #technologies > h1 {
        font-size: 90px;
        padding: 80px 5% 0;
    }

    .technologiesBlock > h3 {
        font-size: 30px;
        line-height: 46px;
    }
}

@media (max-width: 1370px) {
    #technologies > h1 {
        font-size: 52px;
        line-height: 61px;

        padding: 120px 5% 32px;
    }

    .technologiesBlock > h3 {
        font-size: 22px;
        line-height: 26px;
        width: 100%;
        padding-top: 30px;
        position: absolute;
        top: 0;
    }

    .technologiesBlock {
        padding: 73px 0 64px;
        position: relative;
        width: 90%;
        gap: 20px;
    }
    .technology {
        margin: 0;
    }
}

@media (max-width: 900px) {
    .technologiesBlock {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 550px) {
    .technologiesBlock > h3 {
        text-align: center;
    }
}
