#heroBlockWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 794px;
}

#heroBlockWrapper > .logo {
    width: 440px;
}

#heroBlockWrapper > .logo path:hover {
    fill: #ffffff17;
}

#heroBlockWrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heroBlockWrapper h1 {
    font-weight: 600;
    font-size: 180px;
    line-height: 190px;
    text-transform: uppercase;
    color: #ffffff;
}

#heroBlockWrapper p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: lowercase;
    color: #ffffff;
}
@media (max-width: 1370px) {
    #heroBlockWrapper h1 {
        font-size: 160px;
        line-height: 188px;
    }
}

@media (max-width: 550px) {
    #heroBlockWrapper {
        height: 523px;
    }
    #heroBlockWrapper h1 {
        font-size: 80px;
        line-height: 94px;
    }

    #heroBlockWrapper > .logo {
        width: 282px;
    }
}
