#aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 727px;
    color: white;
    padding: 0 15%;
}

#aboutUs h1 {
    font-weight: 600;
    font-size: 100px;
    line-height: 118px;
    text-align: center;
    text-transform: uppercase;
}

#aboutUs div {
    display: flex;
    justify-content: space-between;
    gap: 98px;
    padding: 32px 89px;
}

#aboutUs p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
}

@media (max-width: 1350px) {
    #aboutUs {
        padding: 0 5%;
    }
    #aboutUs h1 {
        font-size: 52px;
        line-height: 61px;
    }
    #aboutUs div {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 550px) {
    #aboutUs {
        padding: 0 20px;
        height: 932px;
    }

    #aboutUs div {
        padding: 30px 0;
    }
}

@media (max-width: 350px) {
    #aboutUs {
        height: 1050px;
    }
}
