#clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    background-image: url('../images/backgroundClients.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 10%;
    width: 80%;
}

#clients > h1 {
    font-weight: 600;
    font-size: 100px;
    line-height: 118px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#clients > .mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

#clients > .mainBlock > .arrows {
    display: flex;
    width: 100%;
    margin-top: -9px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#clients .arrows > svg {
    width: 20%;
    cursor: pointer;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

#clients .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#clients .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#clients .swiper-slide span {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    text-transform: lowercase;
    padding-top: 20px;

    color: #ffffff;
}

@media (max-width: 1370px) {
    #clients > h1 {
        font-size: 52px;
        line-height: 61px;
    }

    #clients {
        padding: 120px 5%;
        width: 90%;
    }

    #clients > .mainBlock > .arrows {
        width: 100%;
    }

    #clients .arrows > svg {
        width: 100%;
    }

    #clients .client {
        height: 118px;
    }
    #clients .client > img {
        height: 65%;
    }
    #clients > .mainBlock > .list {
        gap: 20px;
    }
}

@media (max-width: 550px) {
    #clients {
        padding: 75px 5%;
    }
}
