#clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    background-image: url('../images/backgroundClients.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 18%;
}

#clients > h1 {
    font-weight: 600;
    font-size: 100px;
    line-height: 118px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#clients > .mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#clients > .mainBlock > .list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
    width: 72%;
    overflow: hidden;
}
#clients .client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#clients .client > span {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: lowercase;

    color: #ffffff;
}

#clients > .mainBlock > .arrows {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#clients .arrows > svg {
    width: 20%;
}
