#footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: white;
    padding: 30px 10%;
}

#footerWrapper > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#footerWrapper .logo path {
    fill: #f8f8f8;
}

#footerWrapper .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
}

#footerWrapper .logo svg {
    padding: 0 20% 10px;
}

.footerGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.footerGroup p {
    cursor: pointer;
}

@media (max-width: 1250px) {
    .footerGroup {
        flex-direction: column;
        align-items: flex-start;
        font-size: 18px;
        line-height: 21px;
    }
    #footerWrapper .logo {
        width: 182px;
    }
    #footerWrapper .logo svg {
        padding: 0 20% 30px;
    }
    #footerWrapper {
        gap: 95px;
    }
}

@media (max-width: 550px) {
    #footerWrapper {
        padding: 60px 5% 120px;
    }

    #footerWrapper > div {
        flex-direction: column;
        gap: 50px;
    }

    .footerGroup {
        align-items: center;
        width: 100%;
    }

    .footerGroup.second::before {
        content: '';
        width: 100%;
        height: 1px;
        background: white;
    }
}
