#footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: white;
    padding: 60px 10% 120px;
}

#footerWrapper > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#footerWrapper .logo path {
    fill: #f8f8f8;
}

#footerWrapper .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
}

#footerWrapper .logo svg {
    padding: 0 20% 10px;
}

.footerGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
