* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    background: #282828;
    overflow-x: hidden;
}

button {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
    background: #0b0b0b;
    border: none;
    cursor: pointer;
}

button.dark {
    border: 2px solid #f8f8f8;
    background: none;
}
button.white {
    background: #f8f8f8;
    color: #0b0b0b;
}

a {
    text-decoration: none;
    color: inherit;
}
