#contacts {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0b0b0b;
    padding: 120px 10%;
}

#contacts > h1 {
    font-weight: 600;
    font-size: 100px;
    line-height: 118px;
    text-align: center;
    text-transform: uppercase;
}

#contactsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 64px 0;
}

#contactsForm > input {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #b9b9b9c7;
    margin-top: 35px;
    padding-bottom: 5px;
    width: 100%;
    height: 40px;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #0b0b0b;
}

#contactsForm button {
    margin-top: 20px;
}

#contactsForm > input::placeholder {
    color: #b9b9b9c7;
}

#pop-up {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.749);
    color: white;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayNone {
    display: none !important;
}

@media (max-width: 1370px) {
    #contacts {
        padding: 120px 5%;
    }
    #contacts > h1 {
        font-size: 52px;
        line-height: 61px;
    }
    #contactsForm {
        width: 30%;
        margin: 32px 0 64px;
    }
}

@media (max-width: 900px) {
    #contactsForm {
        width: 50%;
    }
}

@media (max-width: 550px) {
    #contactsForm {
        width: 100%;
    }
}
